<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
  <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href = "@{/css/style.css}" rel="stylesheet">
</head>
<body>

<!-- Footer -->
<footer class="bg-dark text-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p>Made with ❤️ by MOH</p>
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->


</body>
</html>