<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register Person</title>
  <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href = "@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Registration Form</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="fName">First Name</label>
          <input type="text" class="form-control" id="fName" name="first name" required>
        </div>
        <div class="form-group">
          <label for="lName">Last Name</label>
          <input type="text" class="form-control" id="lName" name="last name" required>
        </div>
        <div class="form-group">
          <label for="idNum">Id Number</label>
          <input type="number" class="form-control" id="idNum" name="id number" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>